*{
	box-sizing: border-box;
	font-family: "Gill Sans", Times, snas-serif;
}

h1{
	text-align: center;
	margin-bottom: 15px;
	font-size: 50px;
}

.d{
	width: 90%;
	background-color: orange;
	border: solid black 1px;
	margin-top: 20px;
}

#text{
	padding-left: 10px;
	position: relative;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 10px;
}

.title {
	text-align: center;
	padding: 7px;
	margin-left: 74%;
	margin-top: 0%;
	border-left: solid black 1px;
	border-bottom: solid black 1px;
	font-size: 19px;
	width: auto;
	height: auto;
}

#t1{
	background-color: pink;
}

#t2{
	background-color: black;
	color: white;
}

#t3{
	background-color: yellow;
}

@media (min-width: 992px) {
	.col-lg-4{
		width: 33%;
		float: left;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.col-md-6{
		width: 50%;
		float: left;
	}
	.col-md-12{
		width: 105.5%;
		float: left;
	}

}

@media (max-width: 767px){
	.col-sn-12{
		width: 100%;
		float: left;
	}
}
